<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/modern-normalize.css" />
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <title>Book Notes</title>
    </head>
    <body>
        <%- include("partials/header.ejs") %> <%- include("partials/aside.ejs")
        %>
        <main class="container">
            <div class="cards__wrapper">
                <% for( let i = 0; i < books.length; i++ ) { %>
                <article class="card">
                    <figure class="book__cover">
                        <div class="img__wrapper">
                            <img src="<%= booksCoversUrls[i] %>" alt="Cover of
                            the book <%= books[i].name %>""
                            class="book__cover-img" />
                        </div>
                        <figcaption class="book__title">
                            <h2><%= books[i].name %></h2>
                        </figcaption>
                    </figure>
                    <div class="card__content">
                        <div class="card__text__wrapper">
                            <h3 class="book__author">
                                by: <%= books[i].author %>
                            </h3>
                            <p class="book__isbn">ISBN: <%= books[i].isbn %></p>
                            <p class="note__creation__date">
                                Note date: <%= new
                                Date(books[i].creation_date).toLocaleString('pt-BR',
                                { day: '2-digit', month: '2-digit', year:
                                'numeric', hour: '2-digit', minute: '2-digit',
                                hour12: false }) %>
                            </p>
                        </div>
                        <a href="#" class="btn">Read notes</a>
                    </div>
                    <footer class="card__footer">
                        <p class="note__modification__date">
                            Modified at: <%= new
                            Date(books[i].modification_date).toLocaleString('pt-BR',
                            { day: '2-digit', month: '2-digit', year: 'numeric',
                            hour: '2-digit', minute: '2-digit', hour12: false })
                            %>
                        </p>
                    </footer>
                </article>
                <% } %>
            </div>
        </main>
        <script src="/js/mobile-menu.js" type="text/javascript"></script>
    </body>
</html>
